#article{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}

#article .article-infos h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 12px;
}

#article .article-infos h3{
    font-size: 20px;
    font-weight: 300;
    color: #8695a4;
    margin-bottom: 1rem;
}

.thumb{
    width: 300px;
    height: 200px;
    flex-shrink: 0;
}

.thumb img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.article-link {
  text-decoration: none;
  color: inherit;
}

